:root {
    --main-bg-color: #f0f0f0;
    --text-color: #333;
    --button-color: #2ecc71; /* Velvet emerald green */
    --header-footer-bg: #000;
    --header-footer-text: #fff;
    --header-h2: #999;
    --body-font-color: #333;
    --background-color-button: #27ae60;
}


body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background: url('./img/photo1.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: var(--body-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Центрирование по высоте */
    flex-direction: column;
}

main {
    max-width: 960px; /* Ширина основного контейнера */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
}

header h1 {
    font-size: 3rem;
}

header h2 {
    font-size: 1.5rem;
    color: var(--header-h2);
}

.about-section {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section {
    margin-bottom: 40px; /* расстояние между блоками */
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

button {
    background-color: var(--button-color); /* Velvet emerald green */
    color: var(--header-footer-text);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: var(--background-color-button); /* Темнее при наведении */
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.resume-section {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resume-section {
    margin-bottom: 40px; /* то же самое для резюме */
}

h3 {
    color: var(--header-footer-bg);
}

.skills, .experience {
    text-align: left;
    padding: 20px;
    margin-left: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--header-footer-text);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
}